<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.19" targetFramework="net472" />
  <package id="HarmonyX" version="2.8.0" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="MonoMod.RuntimeDetour" version="22.1.4.3" targetFramework="net472" />
  <package id="MonoMod.Utils" version="22.1.4.3" targetFramework="net472" />
  <package id="Outward.GameLibs" version="2022.5.18-r.0" targetFramework="net472" />
  <package id="UnityEngine.Modules" version="2020.3.26" targetFramework="net472" developmentDependency="true" />
</packages>