<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.BaseLib" version="5.4.17" targetFramework="net472" />
  <package id="Outward.GameLibs" version="2022.1.1-r.0" targetFramework="net472" />
  <package id="UnityEngine.Modules" version="2018.4.8" targetFramework="net472" developmentDependency="true" />
</packages>